# Emulator/Debugger build files and binary output
emu/build/***
emu/emu

***/__pycache__/*
***/__pycache__

# Compiled programs
asm2017/prog/*.bin
asm2017/prog/*.obj
asm2017/prog/*.debug

# Font converter executable
asm2017/prog/font-convert

# Object and binary files from the subject simu.src
asm2017/subject/simu.src/*.o
asm2017subject/simu

# Chip8 compiled programs and examples games
asm2017/chip8/*.bin
asm2017/chip8/*.obj

# emulator
asm2017/emu/build/
asm2017/emu/emu

#Latex
*.aux
*.log
*.bbl
*.pdf
*.blg
